In [26]:
import numpy as np
import matplotlib.pyplot as ptl 
import pandas as pd

# Read the dataframes

In [27]:
la_df = pd.read_csv("los-angeles_9-24-2016_9-30-2017.csv")
ny_df = pd.read_csv("new-york_9-24-2016_9-30-2017.csv")

## Explore Los Angeles dataset

In [28]:
print(la_df.shape)
la_df

(62, 25)

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,LOS ANGELES,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,120.0,130.0,...,NaN,NaN,PER BIN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,LOS ANGELES,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,120.0,130.0,...,NaN,NaN,PER BIN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,LOS ANGELES,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,120.0,130.0,...,NaN,NaN,PER BIN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,LOS ANGELES,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,120.0,130.0,...,NaN,NaN,PER BIN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,LOS ANGELES,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,10/08/2016,120.0,130.0,...,NaN,NaN,PER BIN,NaN,NaN,NaN,NaN,NaN,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,PUMPKINS,LOS ANGELES,NaN,35 lb cartons,MINIATURE,FLAT TYPE,NaN,09/16/2017,24.5,24.5,...,WHITE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
58,PUMPKINS,LOS ANGELES,NaN,35 lb cartons,MINIATURE,FLAT TYPE,NaN,09/23/2017,24.5,24.5,...,WHITE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
59,PUMPKINS,LOS ANGELES,NaN,35 lb cartons,MINIATURE,FLAT TYPE,NaN,09/23/2017,24.5,24.5,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
60,PUMPKINS,LOS ANGELES,NaN,35 lb cartons,MINIATURE,FLAT TYPE,NaN,09/30/2017,24.5,24.5,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
61,PUMPKINS,LOS ANGELES,NaN,35 lb cartons,MINIATURE,FLAT TYPE,NaN,09/30/2017,24.5,24.5,...,WHITE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [29]:
la_df.describe()

,Type,Grade,Low Price,High Price,Mostly Low,Mostly High,Environment,Quality,Condition,Appearance,Storage,Crop,Trans Mode
count,0.0,0.0,62.000000,62.000000,62.000000,62.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,79.533710,85.345806,79.533710,85.345806,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,90.593892,96.570588,90.593892,96.570588,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,0.240000,0.240000,0.240000,0.240000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,0.500000,0.500000,0.500000,0.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,30.000000,30.000000,30.000000,30.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,120.000000,130.000000,120.000000,130.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,275.000000,375.000000,275.000000,375.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
la_df.isna().sum()

Commodity Name      0
City Name           0
Type               62
Package             0
Variety             0
Sub Variety        56
Grade              62
Date                0
Low Price           0
High Price          0
Mostly Low          0
Mostly High         0
Origin              0
Origin District    31
Item Size          16
Color              52
Environment        62
Unit of Sale        9
Quality            62
Condition          62
Appearance         62
Storage            62
Crop               62
Repack              0
Trans Mode         62
dtype: int64

## Explore New York dataset

In [31]:
print(ny_df.shape)
ny_df

(112, 25)

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,130,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,130,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,120,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,PUMPKINS,NEW YORK,NaN,bushel cartons,MINIATURE,NaN,NaN,09/09/2017,32,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
108,PUMPKINS,NEW YORK,NaN,1 1/9 bushel crates,MINIATURE,ROUND TYPE,NaN,10/08/2016,18,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
109,PUMPKINS,NEW YORK,NaN,1 1/9 bushel crates,MINIATURE,ROUND TYPE,NaN,10/08/2016,18,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
110,PUMPKINS,NEW YORK,NaN,1 1/9 bushel crates,MINIATURE,ROUND TYPE,NaN,10/15/2016,18,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
111,PUMPKINS,NEW YORK,NaN,1 1/9 bushel crates,MINIATURE,ROUND TYPE,NaN,10/15/2016,18,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [32]:
ny_df.describe()

,Type,Grade,Low Price,High Price,Mostly Low,Mostly High,Environment,Quality,Condition,Appearance,Storage,Crop,Trans Mode
count,0.0,0.0,112.000000,112.000000,112.000000,112.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,107.125000,116.482143,107.312500,116.410714,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,71.840931,77.454664,71.830008,77.545285,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,15.000000,16.000000,15.000000,16.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,18.000000,20.000000,18.000000,18.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,130.000000,140.000000,130.000000,140.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,150.000000,170.000000,150.000000,170.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,260.000000,300.000000,260.000000,300.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
ny_df.isna().sum()

Commodity Name       0
City Name            0
Type               112
Package              0
Variety              0
Sub Variety         94
Grade              112
Date                 0
Low Price            0
High Price           0
Mostly Low           0
Mostly High          0
Origin               0
Origin District     97
Item Size            8
Color               91
Environment        112
Unit of Sale        87
Quality            112
Condition          112
Appearance         112
Storage            112
Crop               112
Repack               0
Trans Mode         112
dtype: int64

# Clean the Dataset

## Drop columns where all rows are NA

In [34]:
la_df = la_df.drop(columns=['Type', 'Grade','Environment','Quality','Condition','Appearance','Storage','Crop','Trans Mode'])
ny_df = ny_df.drop(columns=['Type', 'Grade','Environment','Quality','Condition','Appearance','Storage','Crop','Trans Mode'])

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Origin District,Item Size,Color,Unit of Sale,Repack
0,PUMPKINS,LOS ANGELES,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,120.0,130.0,120.0,130.0,CALIFORNIA,NaN,lge,NaN,PER BIN,N
1,PUMPKINS,LOS ANGELES,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,120.0,130.0,120.0,130.0,CALIFORNIA,NaN,med,NaN,PER BIN,N
2,PUMPKINS,LOS ANGELES,24 inch bins,HOWDEN TYPE,NaN,10/01/2016,120.0,130.0,120.0,130.0,CALIFORNIA,NaN,lge,NaN,PER BIN,N
3,PUMPKINS,LOS ANGELES,24 inch bins,HOWDEN TYPE,NaN,10/01/2016,120.0,130.0,120.0,130.0,CALIFORNIA,NaN,med,NaN,PER BIN,N
4,PUMPKINS,LOS ANGELES,24 inch bins,HOWDEN TYPE,NaN,10/08/2016,120.0,130.0,120.0,130.0,CALIFORNIA,NaN,lge,NaN,PER BIN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,PUMPKINS,LOS ANGELES,35 lb cartons,MINIATURE,FLAT TYPE,09/16/2017,24.5,24.5,24.5,24.5,CALIFORNIA,CENTRAL SAN JOAQUIN VALLEY CALIFORNIA,NaN,WHITE,NaN,N
58,PUMPKINS,LOS ANGELES,35 lb cartons,MINIATURE,FLAT TYPE,09/23/2017,24.5,24.5,24.5,24.5,CALIFORNIA,CENTRAL SAN JOAQUIN VALLEY CALIFORNIA,NaN,WHITE,NaN,N
59,PUMPKINS,LOS ANGELES,35 lb cartons,MINIATURE,FLAT TYPE,09/23/2017,24.5,24.5,24.5,24.5,CALIFORNIA,CENTRAL SAN JOAQUIN VALLEY CALIFORNIA,NaN,ORANGE,NaN,N
60,PUMPKINS,LOS ANGELES,35 lb cartons,MINIATURE,FLAT TYPE,09/30/2017,24.5,24.5,24.5,24.5,CALIFORNIA,CENTRAL SAN JOAQUIN VALLEY CALIFORNIA,NaN,ORANGE,NaN,N
61,PUMPKINS,LOS ANGELES,35 lb cartons,MINIATURE,FLAT TYPE,09/30/2017,24.5,24.5,24.5,24.5,CALIFORNIA,CENTRAL SAN JOAQUIN VALLEY CALIFORNIA,NaN,WHITE,NaN,N

## Drop columns where mayority of observations are NA

* Drop *Sub Variety* column because almost 90% of observations are NA and we still have the *Variety* column without any NA observation
* Drop *color* column because almost 90% of observations are NA and I don't think that the pumpkin's color is too important

In [ ]:
la_df = la_df.drop(columns=['Sub Variety'])
ny_df = ny_df.drop(columns=['Sub Variety'])

In [35]:
la_df.isna().sum()

Commodity Name      0
City Name           0
Package             0
Variety             0
Sub Variety        56
Date                0
Low Price           0
High Price          0
Mostly Low          0
Mostly High         0
Origin              0
Origin District    31
Item Size          16
Color              52
Unit of Sale        9
Repack              0
dtype: int64

In [36]:
ny_df.isna().sum()

Commodity Name      0
City Name           0
Package             0
Variety             0
Sub Variety        94
Date                0
Low Price           0
High Price          0
Mostly Low          0
Mostly High         0
Origin              0
Origin District    97
Item Size           8
Color              91
Unit of Sale       87
Repack              0
dtype: int64